// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: sans-serif;
}

div {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.coach {
  background-color: #FFFDE1;
  border-left: 3px solid #DDDDDD;
}

.you {
  border-left: 3px solid #DDDDDD;
}
